header {
    background-color: #3949ab;
    color: #ffffff;
    text-align: center;
    padding: 16px;
}

.subEncab {
    background-color: #f06292;
    color: #000000;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

.sec1 {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.sec1 dt {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 36px;
}

footer {
    width: 100%;
    padding: 50px;
    background-image: url(img/images.jpg);
    background-size: cover;
}

.container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box_footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box_footer .logo img {
    width: 200px;
}

.box_footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box_footer h2 {
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box_footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box_footer a:hover {
    opacity: 0.8;
}

.box_footer a .fab {
    font-size: 20px;
}

.box_copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box_copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box_copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}